
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Make sure body and html fill the entire viewport */
  }

footer{
    border-top: 2px solid white;
}

#footed{
  z-index: 10;
}
  
.nav-link:hover {
  color: #1C1A1Bff !important;
}

.counter{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(192, 116, 116);

  position: fixed;
  top: 0;
  margin-left: 20px;
  margin-top: 10px;
}


#androidCounter{
  margin-top: 50px; 

  right: -25px;
  background-color: #1C1A1Bff; 
  position: fixed; 
  padding-top: 10px;
  padding-left: 25px;
  z-index: 1111;

  border-top: 3px solid;
  border-left: 3px solid;
  border-bottom: 3px solid;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  color: #CFB094ff;
  transition: 300ms ease-in-out;
}


  
.video-container {
    width: 100%;
    height: calc(100vh);
    overflow: hidden; /* Ensure nothing overflows outside the container */
  }
  
#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes sure the video scales properly to cover the container */
    display: block;
    position: relative; /* Adjusts positioning to fit within the container */
    filter: blur(10px) brightness(0.2);
    z-index: -11;
  }
  
#AboutImg{
    position: absolute;
    top: 0;
    transform: translateY(60px);
    scale: 0.8;
    @media (max-width: 900px) {
      scale: 1;
      top: 0;
      transform: translateY(120px);
    }
  }

#AndAboutImg{
  position: absolute;
  top: 0;
  transform: translateY(60px);
  scale: 0.8;

  @media (max-width: 1000px) {
    scale: 0.6;
    top: 0;
    transform: translateY(-100px);
  }

  @media (max-width: 700px) {
    scale: 0.7;
    top: 0;
    transform: translateY(20px);
  }

  @media (max-width: 655px) {
    scale: 0.7;
    top: 0;
    transform: translateY(-40px);
  }

  @media (max-width: 595px) {
    scale: 0.9;
    top: 0;
    transform: translateY(100px);
  }

  @media (max-width: 390px){
    scale: 0.9;
    top: 0;
    transform: translateY(140px);
  }
}

  .videoHolder{
    margin-top: -50px;
  }

         /* scroll bar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color:  rgb(44, 44, 44); /* Scrollbar thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners on the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the thumb on hover */
}
