footer{
    border-top: 2px solid white;
}

#contact-info{
    background-color: rgba(161, 117, 82, 0);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    transform: translateY(-50px);
    z-index: 1;
}

#poof_email{
    width: 50%;
}

#submit_butun{
    border: 3px solid white;
}

.nav-link:hover {
    color: #1C1A1Bff !important;
}

.counter{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(192, 116, 116);
  
    position: fixed;
    top: 0;
    margin-left: 20px;
    margin-top: 10px;
  }


/* .floats{
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: rgba(179, 75, 75, 0);
    width: 100%;
    height: fit-content;
  }

  .floats span{
    height: 600px;
    width: 10px;
    background-color: white;
  
    border-radius: 50%;
    display: block;
  
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(15px);
    animation-delay: calc(var(--i) * -0.8s);
  }
  
  @keyframes animate{
    0%{
        transform: translateY(-50px) scaleX(1);
        opacity: 0;
    }
    15%{
        opacity: 0.2;
    }
    50%{
        transform: translateY(150px) scaleX(5);
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(200px) scaleX(10);
    }
  } */

  #rotatecContainer{
    animation: drop-in 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    margin-top: 220px;
    z-index: 0;
    position: absolute;
}

  @keyframes drop-in {
    0%{
        margin-top: -100px;
        opacity: 0;
    }
    100%{
        margin-top: 220px;
        opacity: 1;
    }
  }


#animRotation{
    animation: rotation 9s linear infinite;
}

@keyframes rotation{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(359deg);
    }
}


       /* scroll bar */
       ::-webkit-scrollbar {
        width: 5px; /* Width of the scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color:  rgb(44, 44, 44); /* Scrollbar thumb (the draggable part) */
        border-radius: 10px; /* Rounded corners on the scrollbar */
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darken the thumb on hover */
      }
      