#footed{
    background-color: rgb(255, 255, 255);
    border-top: 2px solid white;
}

#androidCounter{
  margin-top: 50px; 

  right: -25px;
  background-color: #1C1A1Bff; 
  z-index: 1;
  position: fixed; 
  padding-top: 10px;
  padding-left: 25px;

  border-top: 3px solid;
  border-left: 3px solid;
  border-bottom: 3px solid;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  color: #CFB094ff;
  transition: 300ms ease-in-out;
}

.popuoNotifier{
  height: 40px;
  width: 100px;
  background-color: #1C1A1Bff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid white;
  top: 0px;
  z-index: 2;
  display:none;
  animation: bounce 2s ease-in-out infinite alternate;
}

.popuoNotifier::after{
  content: "";
  height: 25px;
  width: 25px;
  background-color: #1C1A1Bff;
  position: fixed;
  margin-left: 100px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  rotate: 45deg;
}

@keyframes bounce{
  0%{
    left: 1025px;
  }
  50%{
    left: 1000px;
  }
  100%{
    left: 1025px;
  }
}

.popuoNotifier1{
  height: 40px;
  width: 100px;
  background-color: #1C1A1Bff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid white;
  top: 15px;
  z-index: 2;
  display: none;
  animation: bounce1 2s ease-in-out infinite alternate;
}

.popuoNotifier1::after{
  content: "";
  height: 25px;
  width: 25px;
  background-color: #1C1A1Bff;
  position: fixed;
  margin-left: 100px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  rotate: 45deg;
}

@keyframes bounce1{
  0%{
    left: 1000px;
  }
  50%{
    left: 980px;
  }
  100%{
    left: 1000px;
  }
}

.popuoNotifier2{
  height: 40px;
  width: 100px;
  background-color: #1C1A1Bff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid white;
  top: 125px;
  z-index: 1;
  display: none;
  animation: bounce2 2s ease-in-out infinite alternate;
}

.popuoNotifier2::after{
  content: "";
  height: 25px;
  width: 25px;
  background-color: #1C1A1Bff;
  position: absolute;
  margin-left: 100px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  rotate: 45deg;
}

@keyframes bounce2{
  0%{
    left: 345px;
  }
  50%{
    left: 330px;
  }
  100%{
    left: 345px;
  }
}

#lineee1{
    height: 100px;
    line-height: 70px;
    font-size: 100px;
    font-weight: 800;
    margin-top: 100px;

    background-image: url(/restart/img/Koffee\ background.jpeg);
    background-size: cover;
    background-position: center;
    color: transparent;

    background-clip: text;

    /* For webkit-based browsers */
    /* -webkit-text-fill-color: transparent; */

    @media (max-width: 1280px) {
        height: 90px;
        line-height: 50px;
        font-size: 70px;
        font-weight: 800;
        margin-top: 70px;
        padding-bottom: 0px;
    }

    @media (max-width: 886px) {
        height: fit-content;
        line-height: 50px;
        font-size: 55px;
        font-weight: 800;
        margin-top: 100px;
        padding-bottom: 30px;
    }
}
/* 
#lineee1::after{
  content: '';
  height: 10px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: dropin 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  @media (max-width: 900px) {
    opacity: 0;
}
}

@keyframes dropin{
  0%{
    top: 39%;
    width: 0%;
    opacity: 0;
  }
  70%{
    top: 42%;
    width: 60%;
    opacity: 0.5;
    height: 15px;
  }
  100%{
    top: 40%;
    width: 60%;
  }
} */

#lineee{
    line-height: 70px;
    font-size:60px;
    margin-top: 100px;
    font-weight: 700;

    background-image: url(/restart/img/Koffee\ background.jpeg);
    background-size: cover;
    background-position: center;
    color: transparent;
            
    /* Clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* For webkit-based browsers */
    -webkit-text-fill-color: transparent;

}

#main-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;

    border-radius: 100px;
    border: 6px solid white;
    background-color: #1C1A1Bff;

    color: white;

    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

#main-button2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;

    border-radius: 100px;
    border: 6px solid white;
    background-color: #1C1A1Bff;

    color: white;

    margin-top: 20px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#main-button2:hover{
  background-color: #45291Aff;
}

#main-button:hover{
  background-color: #45291Aff;
}


/* #cooool::before{
  position: absolute;
  z-index: -1;
  content: '';
  width: 300px;
  height: 300px;
  top: 0;
  transform: translateY(600px);
  border-radius: 50%;
  background-color: #1C1A1Bff; */
  /* bottom: 0; */
  /* left: 7in; */
  /* animation: blob 2.5s ease-in-out infinite alternate;
} */

/* #cooool::after{
  position: absolute;
  z-index: -1;
  content: '';
  width: 300px;
  height: 300px;
  top: 0;
  transform: translateY(600px);
  border-radius: 50%;
  background-color: #1C1A1Bff; */
  /* bottom: 0; */
  /* left: 7in; */
  /* animation: blob 2.5s ease-in-out infinite alternate;
}*/

/* @keyframes blob{
  0%{
    transform: translate(50px , 0px);
  }
} */

.counter{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(192, 116, 116);

  position: fixed;
  top: 0;
  margin-left: 20px;
  margin-top: 10px;
}


.floats{
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: rgba(179, 75, 75, 0);
  width: 100%;
  height: fit-content;
  animation: intro 5s linear;
}

@keyframes intro{
  0%{
    transform: translateY(-1000px);
  }
  50%{
    transform: translateY(-50px)
  }
  70%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-500);
  }
}

.floats span{
  height: 600px;
  width: 10px;
  background-color: white;

  border-radius: 50%;
  display: block;

  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(15px);
  animation-delay: calc(var(--i) * -0.8s);
}

@keyframes animate{
  0%{
      transform: translateY(-50px) scaleX(1);
      opacity: 0;
  }
  15%{
      opacity: 0.5;
  }
  50%{
      transform: translateY(150px) scaleX(5);
  }
  95%{
      opacity: 0;
  }
  100%{
      transform: translateY(200px) scaleX(10);
  }
}


#onHover{
  width: 50%;
  height: 150px;
  position: absolute; 
  border: 3px solid rgba(255, 255, 255, 0); 
  border-radius: 5px;
  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#onHover:hover{
  width: 100px;
  background-color: rgba(255, 255, 255, 0.288);
  height: 100px;
  position: absolute; 
  border: 3px solid white; 
  border-radius: 5px;
}


#slindInContainer{
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: fadein 500ms ease-in-out forwards;
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* @keyframes width-span {
  0%{
    width: 1000px;
  }
  100%{
    width: 100%;
  }
} */

#animRotation{
  animation: rotation 9s linear infinite;
}

@keyframes rotation{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(359deg);
  }
}

#decription1{
    line-height: 1;
    @media (max-width: 1280px) {
      font-size:30px;
      margin-top: 0px;
      padding-bottom: 0px;
  }
    @media (max-width: 886px) {
        font-size:20px;
        margin-top: 0;
    }
}

#decription2{
    line-height: 1;
    @media (max-width: 686px) {
        font-size:15px;
    }
}

/* #Imageholder {
    position: relative;
    margin-top: 100px;
    overflow: hidden; /* Ensures no overflow */
 */
  
  #Imageholder img {
    display: block;
    width: 100%;
    height: auto;
    transition: 1s;
  } */
  
  .cardinal {
    position: absolute; /* Position the card absolutely */
    bottom: 0; /* Attach the card to the bottom */
    left: 50%;
    transform: translateX(-50%);
    transition: 600ms ease-in-out;
    
    background-color: rgba(255, 255, 255, 0.842);
    width: 100%; /* Ensure the card width matches the image */
    opacity: 0;
    padding: 20px;
    font-weight: 600;
    text-align: center; /* Center the text */
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  #Imageholder:hover .cardinal {
    bottom: 0; /* Move the card up on hover */
    opacity: 1;
  }
  
  #textInside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: 400ms ease;
  }

  
  #Imageholder img:hover {
    filter: brightness(0.4);
  }
  
  #Imageholder:hover #textInside {
    color: rgba(255, 255, 255, 1);
  }
  
  #order-button {
    padding: 5px 25px;
    border-radius: 60px;
    border: 6px solid white;
    background-color: rgb(19, 18, 18);
    color: white;
  }
  
  /* Optional: Responsive for small screens */
  @media (max-width: 400px) {
    #textInside {
      font-size: 30px;
    }
    
    .cardinal {
      font-size: 14px;
    }
  
    #order-button {
      padding: 5px 20px;
    }
  }
  

.nav-link:hover {
    color: #1C1A1Bff !important;
}

#secondNav{
  /* position: fixed; */
  top: 0;
  width: 100%;
}

#secondNav1{
  /* position: fixed; */
  top: 0;
  margin-top: 50px;
  width: 100%;
}

.hovNav1{
  margin-top: 60px;
  border: 2px solid #CFB094ff !important;
}

.hovNav1:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #CFB094ff !important;
}



.hovNav2{
  margin-top: 10px;
  border: 2px solid #CFB094ff !important;
}

.hovNav2:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #CFB094ff !important;
}



/* body{
  overflow: hidden;
  animation: overlation 7s linear forwards;
}

@keyframes overlation {
  0%{
    overflow-y: hidden;
  }
  100%{
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#lounge-animation{
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  z-index: 10;
  background-color: rgb(253, 232, 220);
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%); */
  /* transform-origin: 50% 50%; */
  /* animation: spaceee 5s ease-in-out forwards;
}

#lounge-animation h1{
  text-transform: uppercase;
  width: 100%;
  font-size: 200px;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  transform-origin: 50% 50%;
  animation: spaceee 4s ease-in-out forwards;
  }
  
@keyframes spaceee {
  0%{
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  80%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  90%{
    letter-spacing: 0.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  95%{
    background-color: rgba(255, 241, 222, 0);
    color: rgba(0, 0, 0, 0);
  }
  100%{
    transform: translateY(-1000in);
    letter-spacing: 0.2em;
    scale: 1.02;
  }
}

#lounge-animation2{
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  background-color: rgb(253, 232, 220);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* transform-origin: 50% 50%; */
  /* animation: spaceee 5s ease-in-out forwards;
}

#lounge-animation2 h1{
  text-transform: uppercase;
  width: 100%;
  font-size: 80px;

  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-style: normal;

  transform-origin: 50% 50%;
  animation: spaceee 4s ease-in-out forwards;
}
  
@keyframes spaceee {
  0%{
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  80%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  90%{
    letter-spacing: 0.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  95%{
    background-color: rgba(255, 241, 222, 0);
    color: rgba(0, 0, 0, 0);
  }
  100%{
    transform: translateY(-1000in);
    letter-spacing: 0.2em;
    scale: 1.02;
  }
} */







/* for latest blog posts desktop */
.post .article-v2 {
    padding: 0 15px;
  }
  
  .post .article-v2 .entry-title {
    font-size: 16px;
    color: #666666;
    font-weight: 600;
  }
  
  .post .article-v2 .article-header {
    margin-bottom: 15px;
  }
  
  .post .article-v2 .article-content-main {
    -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
    padding: 30px;
    position: relative;
    background: #fff;
    margin-top: -75px;
  }
  
  @media only screen and (max-width: 1024px) {
    .post .article-v2 .article-content-main {
      padding: 15px;
      margin-bottom: 30px;
    }
  }
  
  .post .article-v2 .article-content p:last-of-type {
    margin-bottom: 0;
  }
  
  .post .article-v2 .article-thumb {
    position: relative;
    left: 25px;
    margin-bottom: 0;
  }
  
  .post .article-v2 .article-footer {
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    margin-top: 20px;
  }
  
  .post .article-v2 .article-footer .more-link {
    color: #ffa800;
  }
  
  .post .article-v2 .article-footer .footer-meta a {
    color: #aaa;
    font-size: 15px;
    margin-right: 5px;
  }
  
  .post .article-v2 .article-footer .footer-meta a i {
    font-size: 16px;
    margin-left: 2px;
  }
/* end of blog */


/* desktop layout */

#order-button {
  padding: 5px 25px;
  border-radius: 60px;
  border: 6px solid rgb(233, 230, 230);
  background-color: rgb(19, 18, 18);
  color: white;
  margin: 5px 0;
}


#popular-products h2 {
    font-size: 2.5rem;
    color: #1C1A1B;
  }
  
  .cardio {
    transition: transform 1.5s ease;
  }
  
  .cardio:hover {
    transform: scale(1.02);
  }

  .cardio img{
    transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    filter: brightness(0.8);
    z-index: 0;
  }

  .cardio:hover img{
    transform: scale(1.03);
    filter: brightness(1);
  }
  
  .cardio-body {
    background-color: #1C1A1Bff;
    border-radius: 0 0 15px 15px;
    border-top: 2px solid white;
  }
  
  .btn-primary {
    background-color: #1C1A1B;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #3e3d3d;
  }
  


#sponsorship{
    background-color: #EDD3BCff;
    /* margin-top: 50px; */
  }
  
  img {
    max-width: 100%; /* Ensure logos are responsive */
    padding: 10px; /* Add some spacing around logos */
  }
  
  h2 {
    font-weight: bold;
    color: #333;
  }

  .bottono:hover{
    background-color: #45291Aff;
  }
  
  

/* #complex{
    margin-left: 310px;
    @media (max-width: 750px) {
        margin-left: 590px
    }
    @media (max-width: 650px) {
        margin-left: 300px
    }
    @media (max-width: 380px) {
        margin-left: 190px;
    }
} */

       /* scroll bar */
       ::-webkit-scrollbar {
        width: 5px; /* Width of the scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color:  rgb(44, 44, 44); /* Scrollbar thumb (the draggable part) */
        border-radius: 10px; /* Rounded corners on the scrollbar */
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darken the thumb on hover */
      }
      