.left-col {
    background-color: #d8f0fa; /* Light blue */
    height: fit-content;
}
.top-right {
    background-color: #f48f8f; /* Light red */
    height: fit-content;
}
.bottom-right {
    background-color: #b2f1a2; /* Light green */
    height: fit-content;
    border: 2px solid magenta; /* Border matching the screenshot */
}

.nav-link:hover {
    color: #1C1A1Bff !important;
}


.gridding{
    display: grid;
}


.sidebar {
    background-color: #CFB094ff;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
  }
  .chat-item {
    padding: 15px;
    border-bottom: 1px solid #3e4e59;
  }
  .chat-item:hover {
    background-color: rgb(170, 132, 98);
  }
  .chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .chat-info {
    display: inline-block;
    text-align: start;
    margin-left: 10px;
    color: #1C1A1Bff;
  }
  .chat-info h6 {
    margin: 0;
    font-size: 16px;
  }
  .chat-info p {
    margin: 0;
    color: #1C1A1Bff;
    font-size: 12px;
  }
  .chat-info small {
    font-size: 11px;
  }
  .search-bar {
    background-color: rgb(17, 12, 10);

    border: none;
    color: white ;
    padding: 8px;
    width: 100%;
  }



/* intro transition */

body{
  overflow: hidden;
  animation: overlation 7s linear forwards;
}

@keyframes overlation {
  0%{
    overflow-y: hidden;
  }
  100%{
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.counter{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(192, 116, 116);

  position: fixed;
  top: 0;
  margin-left: 20px;
  margin-top: 10px;
}

#androidCounter{
  margin-top: 50px; 

  right: -25px;
  background-color: #1C1A1Bff; 
  position: fixed; 
  padding-top: 10px;
  padding-left: 25px;
  z-index: 1;

  border-top: 3px solid;
  border-left: 3px solid;
  border-bottom: 3px solid;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  color: #CFB094ff;
  transition: 300ms ease-in-out;
}


#lounge-animation{
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  background-color: rgb(253, 232, 220);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform-origin: 50% 50%; */
  animation: spaceee 5s ease-in-out forwards;
}

#lounge-animation h1{
  text-transform: uppercase;
  width: 100%;
  font-size: 200px;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  transform-origin: 50% 50%;
  animation: spaceee 4s ease-in-out forwards;
  }
  
@keyframes spaceee {
  0%{
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  80%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  90%{
    letter-spacing: 0.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  95%{
    background-color: rgba(255, 241, 222, 0);
    color: rgba(0, 0, 0, 0);
  }
  100%{
    transform: translateY(-1000in);
    letter-spacing: 0.2em;
    scale: 1.02;
  }
}

#lounge-animation2{
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  background-color: rgb(253, 232, 220);
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform-origin: 50% 50%; */
  animation: spaceee 5s ease-in-out forwards;
}

#lounge-animation2 h1{
  text-transform: uppercase;
  width: 100%;
  font-size: 80px;

  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-style: normal;

  transform-origin: 50% 50%;

  animation: spaceee 4s ease-in-out forwards;
}
  
@keyframes spaceee {
  0%{
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  70%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  80%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  90%{
    letter-spacing: 0.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  95%{
    background-color: rgba(255, 241, 222, 0);
    color: rgba(0, 0, 0, 0);
  }
  100%{
    transform: translateY(-1000in);
    letter-spacing: 0.2em;
    scale: 1.02;
  }
}

       /* scroll bar */
       ::-webkit-scrollbar {
        width: 5px; /* Width of the scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color:  rgb(44, 44, 44); /* Scrollbar thumb (the draggable part) */
        border-radius: 10px; /* Rounded corners on the scrollbar */
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darken the thumb on hover */
      }
      