.nav-link:hover {
    color: #1C1A1Bff !important;
  }

  #order-button {
    padding: 5px 25px;
    border-radius: 60px;
    border: 6px solid rgb(233, 230, 230);
    background-color: rgb(19, 18, 18);
    color: white;
    margin: 5px 0;
}
  
.cardio {
    transition: transform 1.5s ease;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .cardio:hover {
    transform: scale(1.02);
  }

  .cardio img{
    transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    filter: brightness(0.8);
  }

  .cardio:hover img{
    transform: scale(1.03);
    filter: brightness(1);
  }
  
  .cardio-body {
    background-color: #1C1A1Bff;
    border-radius: 0 0 15px 15px;
    border-top: 2px solid white;
    /* z-index: 1; */
  }


  .card-title{
    font-weight: 700;
    font-size: 20px;
  }

  .card-title:hover{
    text-decoration: underline;
  }

  .counter{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(192, 116, 116);
  
    position: fixed;
    top: 0;
    margin-left: 20px;
    margin-top: 10px;
  }

  #androidCounter{
    margin-top: 50px; 

    right: -25px;
    background-color: #1C1A1Bff; 
    z-index: 1; 
    position: fixed; 
    padding-top: 10px;
    padding-left: 25px;

    border-top: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    color: #CFB094ff;
    transition: 300ms ease-in-out;
  }

  #onHover{
    width: 50%;
    height: 100px;
    position: absolute; 
    border: 3px solid rgba(255, 255, 255, 0); 
    border-radius: 5px;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  #onHover:hover{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.288);
    height: 50px;
    position: absolute; 
    border: 3px solid white; 
    border-radius: 5px;
  }

  

          /* Sidebar styling */
        .d-button{
          z-index: 100; 
          padding-left: 15px;
          padding-right: 15px;

          border-radius: 10px;

          border: 1px solid white;

          background-color: rgba(212, 38, 38, 0);
        }

        .d-button:hover{
          background-color: rgba(255, 255, 255, 0.11);
        }

        #buton{
          display: none;
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            right: 0;
            background-color: #ffffff;
            overflow-x: hidden !important;
            /* transition: 100ms cubic-bezier(0.165, 0.84, 0.44, 1); */
            z-index: 111;
        }

        .sidebar a {
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        #sidebar2 {
            height: 100%;
            width: 0;
            position: fixed;
            display: block;
            top: 0;
            right: 0;
            background-color: #ffffff;
            overflow-x: hidden !important;
            transition: 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
            z-index: 111;
        }

        #sidebar2 a {
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        #sidebar2 a:hover {
            color: #f1f1f1;
        }

        .closebtn {
            position: fixed;
            top: 5px;
            right: 10px;
            font-size: 36px;
        }

        /* Adjusts card layout when sidebar is open */
        /* .cards.sidebar-open {
            margin-right: 200px;
        } */

        /* .sidebar .card .TIKI{
          filter: brightness(0);

          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);

          padding-top: 200px;
          padding-bottom: 240px;
          width: 100%;
          width: 100%;

          color: rgba(255, 255, 255, 0);
          background-color: rgba(0, 0, 0, 0.795);
          z-index: 11;
          transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .sidebar .card .TIKI:hover{
          filter: brightness(1);
          color: rgb(255, 255, 255);
          background-color: rgba(0, 0, 0, 0);
        } */




        /* scroll bar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color:  rgb(44, 44, 44); /* Scrollbar thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners on the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the thumb on hover */
}
