

#chat-window {
    height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #1C1A1Bff;
}

.bot-message {
    background-color: #f0f0f0;
    box-shadow: 4px 5px 10px #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 10ox;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#order-button {
    padding: 5px 25px;
    border-radius: 60px;
    border: 6px solid white;
    background-color: rgb(19, 18, 18);
    color: white;
    margin: 5px 0;
  }
